In [1]:
from config import *

In [2]:
# Example: Download historical stock data
df = yf.download(tickers, start="2004-01-01", end="2024-01-01")#['Adj Close']
df

[*********************100%***********************]  17 of 17 completed

Price                     Adj Close                                  \
Ticker                       A2A.MI     CPR.MI   ENEL.MI     ENI.MI
Date
2004-01-01 00:00:00+00:00  0.565195   0.752704  1.228324   4.177127
2004-01-02 00:00:00+00:00  0.580916   0.756614  1.244277   4.299985
2004-01-05 00:00:00+00:00  0.573247   0.762479  1.264787   4.319532
2004-01-06 00:00:00+00:00  0.576315   0.761502  1.276181   4.299985
2004-01-07 00:00:00+00:00  0.563661   0.758569  1.264787   4.168752
...                             ...        ...       ...        ...
2023-12-21 00:00:00+00:00  1.773474  10.115137  6.252772  14.202600
2023-12-22 00:00:00+00:00  1.770617  10.139965  6.294932  14.284827
2023-12-27 00:00:00+00:00  1.762045  10.189623  6.296806  14.423114
2023-12-28 00:00:00+00:00  1.765378  10.189623  6.285563  14.350233
2023-12-29 00:00:00+00:00  1.770617  10.144931  6.305238  14.340888

Price                                                                 \
Ticker                          G.MI    ISP.MI     LDO.MI      MB.MI
Date
2004-01-01 00:00:00+00:00   9.164813  0.983807        NaN   3.816844
2004-01-02 00:00:00+00:00   8.450670  0.947127        NaN   3.660450
2004-01-05 00:00:00+00:00   8.522084  0.931997        NaN   3.677357
2004-01-06 00:00:00+00:00   8.526052  0.935022        NaN   3.685811
2004-01-07 00:00:00+00:00   8.526052  0.871477        NaN   3.677357
...                              ...       ...        ...        ...
2023-12-21 00:00:00+00:00  18.103134  2.413917  14.502009  10.355128
2023-12-22 00:00:00+00:00  18.174276  2.429520  14.566199  10.457423
2023-12-27 00:00:00+00:00  18.254906  2.438240  14.689642  10.429524
2023-12-28 00:00:00+00:00  18.107878  2.425390  14.763707  10.392325
2023-12-29 00:00:00+00:00  18.122107  2.426308  14.748895  10.420224

Price                                           ...   Volume            \
Ticker                       MONC.MI   PIRC.MI  ...    MB.MI   MONC.MI
Date                                            ...
2004-01-01 00:00:00+00:00        NaN       NaN  ...        0       NaN
2004-01-02 00:00:00+00:00        NaN       NaN  ...   701763       NaN
2004-01-05 00:00:00+00:00        NaN       NaN  ...   736888       NaN
2004-01-06 00:00:00+00:00        NaN       NaN  ...   466294       NaN
2004-01-07 00:00:00+00:00        NaN       NaN  ...  2165863       NaN
...                              ...       ...  ...      ...       ...
2023-12-21 00:00:00+00:00  55.249077  4.682784  ...  1381204  772547.0
2023-12-22 00:00:00+00:00  54.993748  4.692443  ...  1725643  784671.0
2023-12-27 00:00:00+00:00  54.954468  4.702103  ...  1396214  421142.0
2023-12-28 00:00:00+00:00  54.561657  4.755228  ...  1162313  422436.0
2023-12-29 00:00:00+00:00  54.699139  4.759092  ...  1173100  405362.0

Price                                                                         \
Ticker                       PIRC.MI    PRY.MI     PST.MI    SPM.MI   TEN.MI
Date
2004-01-01 00:00:00+00:00        NaN       NaN        NaN         0        0
2004-01-02 00:00:00+00:00        NaN       NaN        NaN   1036907    22505
2004-01-05 00:00:00+00:00        NaN       NaN        NaN    507553   165450
2004-01-06 00:00:00+00:00        NaN       NaN        NaN         0   512978
2004-01-07 00:00:00+00:00        NaN       NaN        NaN    697519   450033
...                              ...       ...        ...       ...      ...
2023-12-21 00:00:00+00:00  1155886.0  517921.0   998627.0  27423653  1508899
2023-12-22 00:00:00+00:00   961055.0  389288.0  1059403.0  15340362  1079833
2023-12-27 00:00:00+00:00  1267698.0  464207.0  1329583.0  54039143  1323597
2023-12-28 00:00:00+00:00  2261957.0  315247.0   844698.0  16248522   991310
2023-12-29 00:00:00+00:00  1485677.0  269830.0   938099.0  16596498  1390360

Price
Ticker                        TIT.MI     TRN.MI   UCG.MI
Date
2004-01-01 00:00:00+00:00          0        NaN        0
2004-01-02 00:00:00+00:00   35255249        NaN   556046
2004-01-05 00:00:00+00:00   79792907        NaN   907778
2004-01-06 00:00:00+00:00          0        NaN        0
2004-01-07 00:00:00+00:00   90273659        NaN  2476724
...                              ...        ...      ...
2023-12-21 00:00:00+00:00  266269312  2683652.0  5255517
2023-12-22 00:00:00+00:00  314894886  2041195.0  4560033
2023-12-27 00:00:00+00:00  133255242  2407323.0  4121000
2023-12-28 00:00:00+00:00  101555176  1585646.0  3680323
2023-12-29 00:00:00+00:00  152745272  1841328.0  4870344

[5094 rows x 102 columns]

In [3]:
df.to_csv('data/italian_stock_data_2004_2024.csv')